.announcement-container {
  @apply
    flex
    flex-col
    lg:flex-row
    h-[20rem]
    lg:h-[16rem]
    w-full
    lg:w-[24rem]
    xl:w-[28rem]
    items-center
    justify-start
    lg:justify-around
    px-4
    overflow-hidden
}

.announcement-container>img {
  @apply
    object-cover
    p-4
    h-40
    w-40
    lg:h-44
    lg:w-44
    rounded-3xl
  ;
}

.text-container {
  @apply
    flex
    flex-col
    flex-1
    h-fit
    min-w-0
    max-w-48
    lg:max-w-[16rem]
    p-2
    lg:pr-4
  ;
}

.text-container>h2 {
  @apply
    break-words
    font-bold
    leading-tight
    text-sm
    lg:text-xl
  ;
}

.text-container>h3 {
  @apply
    font-subheading
    text-xs
    lg:text-sm
    pb-2
  ;
}

.text-container>p {
  @apply
    break-words
    line-clamp-2
    font-body
    text-xs
    lg:text-sm
  ;
}

.text-container>h4 {
  @apply
    mt-auto
    text-right
    text-primary
    font-subheading
    p-2
    text-xs
    lg:text-base
  ;
}

